<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Sciezka OPRAWY" value="X:\OPRAWY" />
    <add key="Pelny Ekran (1 lub 0)" value= "0" />
    <add key="Ekran startowy (1 lub 2)" value="2" />
    <add key="Odwrocenie interfejsu (wartosc 1 lub 0)" value="1" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>